*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #333333;
  font-family: "Roboto";
  font-weight: 400;
  background: #efefef;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}

.container {
  max-width: 1110px;
  margin: 0px auto;
}

.header {
  position: relative;
  z-index: 4;
}
.header__firstline {
  padding: 16px 0px;
  background-color: #e5e5e5;
}
.header__firstline-menu-list {
  display: flex;
  justify-content: center;
}
.header__firstline-menu-item:not(:last-child) {
  margin-right: 30px;
}
.header__firstline-menu-link {
  font-size: 14px;
  color: inherit;
  line-height: 16px;
}
.header__firstline-menu-link:hover {
  color: #000;
  font-weight: 500;
}
.header__secondline {
  padding: 20px 0px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}
.header__secondline-section {
  display: flex;
  align-items: center;
}
.header__secondline-section-title {
  font-size: 36px;
  font-weight: 700;
  color: #f13c6e;
  letter-spacing: 0.1em;
  line-height: 42px;
  margin: 0px 172px 0px 20px;
}
@media (min-width: 1072px) {
  .header__secondline-section-title {
    margin-right: 133px;
  }
}
.header__secondline-section-search-form {
  margin-right: 76px;
  display: flex;
  position: relative;
}
.header__secondline-section-search-form-button {
  position: absolute;
  left: 20px;
  top: 10px;
  z-index: 3;
}
.header__secondline-section-search-form-input {
  position: relative;
  z-index: 2;
  background-color: #efefef;
  width: 250px;
  height: 40px;
  border-radius: 40px;
  padding: 0px 20px 0px 48px;
}
.header__secondline-section-number {
  margin-right: 37px;
}
.header__secondline-section-number-text {
  color: #000000;
}
.header__secondline-section-callback {
  border: 1px solid #f13c6e;
  border-radius: 40px;
  padding: 12px 26px;
}
.header__secondline-section-callback-text {
  color: #000000;
}
.header__category {
  padding: 30px 0px;
  background-color: white;
}
.header__category-menu-list {
  display: flex;
  justify-content: center;
}
.header__category-menu-item:not(:last-child) {
  margin-right: 40px;
}
.header__category-menu-link {
  color: #000000;
  line-height: 19px;
  font-weight: 500;
}

.page__super-chair {
  background-color: #f13c6e;
  position: relative;
}
.page__super-chair-left-block {
  display: flex;
  flex-direction: column;
  max-width: 308px;
  justify-content: center;
  padding: 192px 0px;
  color: white;
}
.page__super-chair-left-block-title {
  font-size: 48px;
  font-weight: 700;
}
.page__super-chair-left-block-text {
  display: inline-block;
  padding: 50px 0px;
  line-height: 15px;
  font-size: 14px;
}
.page__super-chair-left-block-button {
  padding: 12px 26px;
  border: 2px solid white;
  border-radius: 40px;
  max-width: 170px;
  background: rgba(254, 254, 254, 0);
  color: white;
}
.page__super-chair-ellipse1 {
  position: absolute;
  width: 859px;
  height: 859px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: -132px;
  left: 320px;
  z-index: 1;
}
.page__super-chair-ellipse2 {
  position: absolute;
  width: 677px;
  height: 677px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: 94px;
  left: 91px;
  z-index: 2;
}
.page__super-chair-image {
  position: absolute;
  top: 43px;
  left: 47px;
  z-index: 3;
}
.page__spec-offer-block {
  position: relative;
  z-index: 5;
  padding: 80px 0px 100px;
  background-color: #efefef;
}
.page__spec-offer-block-title {
  font-size: 24px;
  font-weight: 700;
}
.page__spec-offer-block-row {
  display: flex;
  justify-content: space-between;
}
.page__spec-offer-block-column {
  margin-top: 38px;
}
.page__two-blocks {
  display: flex;
  margin-bottom: 99px;
}

.item-spec-offer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-spec-offer__image {
  margin-top: 25px;
}
.item-spec-offer__text {
  margin: 20px 30px;
  padding: 0px 5px;
  max-width: 195px;
  font-size: 14px;
  line-height: 20px;
}
.item-spec-offer__price {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.item-spec-offer__button {
  margin: 20px 0px 25px;
}
.item-spec-offer__buy {
  padding: 9px 40px;
  border-radius: 40px;
  font-size: 14px;
  background-color: #f13c6e;
  color: white;
}

/*--------------------------------------------------------------------------------------------------------------------------------*//*# sourceMappingURL=header.css.map */