@import '../normalize.scss';
@import '../var/var.scss';

.footer {
  &__first-line {
    background-color: $white;
    border-bottom: 1px solid $gray;
  }
  &__contacts {
    background-color: $white;
    padding: 38px 0px;
  }
}

.first-line {
  &__main-block {
    display: flex;
    padding: 60px 0px;
  }
}
.main-block__categories {
  flex: 0 1 33.333%;
  margin-right: 30px;
}

.categories {
  &__title {
    font-weight: 500;
    line-height: 140.62%;
    color: $black;
    padding-bottom: 30px;
    border-bottom: 1px solid $gray;
  }
}

.menu {
  padding-top: 25px;
  &__list3 {
    color: #828282;
  }

  &__item3 {
  }

  &__link3 {
    font-size: 12px;
    line-height: 28px;
  }
}

.contacts {
  &__icons {
    display: flex;
  }

  // .contacts__youtube

  &__youtube {
    border: 2px solid $pink;
    border-radius: 50%;
    margin-right: 16px;
  }

  // .contacts__vk

  &__vk {
    border: 2px solid $pink;
    border-radius: 50%;
    margin-right: 16px;
  }

  // .contacts__facebook

  &__facebook {
    border: 2px solid $pink;
    border-radius: 50%;
    margin-right: 16px;
  }

  // .contacts__instagram

  &__instagram {
    border: 2px solid $pink;
    border-radius: 50%;
  }

  // .contacts__adress

  &__adress {
    font-size: 14px;
    line-height: 16px;
    color: $black;
  }

  // .contacts__callback

  &__callback {
  }
}

.number {
}
