@import '../var/var.scss';

.footer {
  margin: 0px;
  &__first-line {
    background-color: $white;
    border-bottom: 1px solid $gray;
  }

  &__category {
    display: flex;
    padding: 60px 0px;
  }
}

.category {
  &__block {
    flex: 0 1 25%;
    margin-left: 30px;
    &:first-child {
      margin-left: 0px;
    }
  }
  &__title {
    font-weight: 500;
    line-height: 140.62%;
    color: $black;
    padding-bottom: 30px;
    border-bottom: 1px solid $gray;
  }
  &__menu {
  }
}

.menu {
  padding-top: 25px;
  &__list3 {
    color: #828282;
  }

  &__link3 {
    font-size: 12px;
    line-height: 28px;
  }
}

.contacts {
  display: flex;
  align-items: center;
  //justify-content: space-between;

  &__icons {
    display: flex;
  }

  &__adress {
    font-size: 14px;
    line-height: 16px;
    color: $black;
    margin: 0px 105px 0px 205px;
  }

  &__callback {
  }
}
.icon {
  border: 2px solid $pink;
  border-radius: 50%;
  margin-right: 16px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $pink;
  cursor: pointer;
  &:hover {
    color: $white;
    background-color: $pink;
  }
}
// .button-callback {
//   border: 1px solid $pink;
//   border-radius: 40px;
//   padding: 12px 26px;
//   background-color: transparent;
//   cursor: pointer;
// }
.number {
}
